# Database Credentials
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=ai_recommender

# Server Configuration
PORT=5000
JWT_SECRET=your_jwt_secret_key_here

# Python ML Microservice URL (Backend Proxy Target)
ML_SERVICE_URL=http://localhost:8000

# AI Service Keys (Securely fetch from dashboard)
GROQ_API_KEY=
GEMINI_API_KEY=
